* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  border: 3px solid red;
  /* grid-auto-rows: min-content auto min-content; */
  /* height: 100vh; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* text-align: center; */
}

.grid-item {
  border: 2px solid yellowgreen;
}

.grid-item-1 {
  display: grid;
  grid-column: span 12;
  grid-auto-rows: minmax(50px, auto);
  /* grid-template-rows: 100px; */
}
.grid-item-2 {
  display: grid;
  grid-column: span 6;
}
.grid-item-2-nested-a {
  display: grid;
  grid-column: span 3;
  margin: 20px;
  padding: 20px;
}

.grid-item-2-nested-b {
  display: grid;
  grid-column: span 3;
  margin: 20px;
  padding: 20px;
}

.grid-item-3 {
  display: grid;
  grid-column: span 6;
  /* justify-self: center;
  align-self: center; */
  /* or  in 1 line center*/
  /* place-self: start center; */
}
/* .grid-item-3-a {
  grid-column: span 5/12;
} */
.grid-item-4 {
  display: grid;
  grid-column: span 6;
}

.grid-item-5 {
  display: grid;
  grid-column: span 6;
}

.grid-item-6 {
  display: grid;
  grid-column: span 8;
}
.grid-item-7 {
  display: grid;
  grid-column: span 4;
}
.grid-item-8 {
  display: grid;
  grid-column: span 4;
}
.grid-item-9 {
  display: grid;
  grid-column: span 8;
}
.grid-item-10 {
  display: grid;
  grid-column: span 12;
  text-align: center;
  margin-top: 400px;
}
